<!DOCTYPE html>
<html>
<head>

    <title>University of Sialkot</title>
    <link rel="stylesheet" type="text/css" href="custom.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="icon" href="im/favicon.png" type="image/x-icon">
    <link href="bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap-4.3.1/css/bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="custom.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    <link href="fonts/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/wow-animate.css">
    <link rel="stylesheet" type="text/css" href="css/left-menu.css">
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />




</head>

<body>

    <div class="fluid-container top">
        <div class="slide-left">
            <p><b>HEC recognied university              Last Date to Apply 15 October.</b></p>
        </div>
    </div>
    <div class="fluid-container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="top1">
                    <ul>
                        <li><a href="">Merit Lists</a></li>
                        <li><a href="">Time Table</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">USKT magzaine</a></li>
                        <li><a href="">Downloads</a></li>
                        <li><a href="">Aquire Lms</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="fluid-container">
        <div class="row">
            <div class="col-md-6">
                <div class="logo">
                    <img src="img/logo.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="top2">
                    <ul>
                        <li><a href="">About USKT</a></li>
                        <li><a href="">Admissions</a></li>
                        <li><a href="">Acadmeics</a></li>
                        <li><a href="">Offices</a></li>
                        <li><a href="">Faculty & Reserch</a></li>
                        <li><a href="">Study at USKT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div class="fluid-container">

        <div class="banner">
            <img src="img/banner1.jpg">
        </div>
    </div>


    <div class="news">
        <p>See whats happening inside.</p>
        <h2>News and Events</h2>
    </div>
    <div class="fluid-container events">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pic1">
                    <img src="img/banner2.jpg" class="pic">
                </div>
                <div class="col-md-4 text1">
                    <div class="text">
                        <h2>Admission in PHd computer science</h2>
                        <p>Please be informed that the admission of Ph.D. in Computer Science is open. Given the quality guideline, the seats are limited. For more information please visit our website or contact us at admissions@uskt.edu.pk.</p>



                    </div>



                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>



    <div class="fluid-container events2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="first">
                        <div class="first-img">
                            <img src="img/banner3.jpg">
                        </div>
                        <div class="first-text">
                            <h5>A Mou signed with Azerbaijan Technical University for mutual interest. </h5>
                            <p>University of Sialkot and Azerbaijan Technical University signed an MoU</p>


                        </div>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="first">
                        <div class="second-img">
                            <img src="img/banner4.jpg">
                        </div>
                        <div class="second-text">
                            <h5>University of Sialkot Donation to (SAF) Road To Education </h5>
                            <p>University of Sialkot Donated 500000 PKR to Shahid Afridi Foundation</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
    </div>


    <div class="mission">
        <h1>Mission of USKT:</h1>
        <p>
            Providing quality education at affordable cost with special emphasis on intellectual development and character building.<br>
            Providing an academic environment to groom students’ natural abilities leading to professional success.<br>
            Providing a conducive environment to foster critical thinking and complex problem solving abilities for promoting research<br> and entrepreneurship culture in collaboration with industry.
        </p>



    </div>

    <div class="pic2">
        <img src="img/img1.png">
    </div>

    <!-- bottom -->
    <div class="fluid-container bottom">
        <div class="row">
            <div class="col-md-3">
                <div class="logo1">
                    <img src="img/USKT_logo.png">
                </div>

            </div>
            <div class="col-md-3">
                <div class="address">
                    <p>Address</p>
                    <ul>
                        <li><a href="">1-km Main</a></li>
                        <li><a href="">Daska Road,Sialkot</a></li>
                    </ul>

                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <p>Contacts</p>
                    <ul>
                        <li><a href="">Email: info@uskt.edu.pk</a></li>
                        <li><a href="">Phone: +92-523575518-20</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <p>Links</p>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Faculty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div class="last">
        <p>Copyright 2022 University of Sialkot - All Rights Reserved</p>

    </div>

</body>
<
<p style="color:red"><@viewbag.message</p>
</html>


